@tailwind base;
@tailwind components;
@tailwind utilities;

.storeImg {
  height: 320px;
  width:100%;
  min-width: 320px;
}

@media (min-width: 768px) {
  .storeImg{
    width: 18rem!important;  
  }
}

.h-camera {
  height: calc(100vh - 120px);
}
.m-camera {
  margin: 30px;
}

.margin-mint {
  margin-top: 120px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ff2424;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
.link-styles {
  color: #4f58a3;
}
header {
  z-index: 999;
}

.notify {
  top: 63px;
  width: 100vw;
  font-size: 14px;
}

.gradientButton {
  background: linear-gradient(to right, var(--gradOne), var(--gradTwo));
}
